.AppButton {
  outline: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  display: grid;
  place-items: center;
  transition: 0.2s ease-in;
  transition-property: background-color, color;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  background-color: #000000;
  color: #ffffff;
}

.AppButton:disabled,
.AppButton-disabled {
  cursor: not-allowed;
  pointer-events: none;
  filter: grayscale(0.75);
  opacity: 0.5;
}

.AppButton:not([disabled]):hover,
.AppButton:not([disabled]):focus-visible,
.AppButton:not([disabled]):active {
  text-decoration: none;
  transition-timing-function: ease-out;
  background-color: rgba(0, 0, 0, 0.8);
}

.AppButton-large {
  padding: 1.5rem 3rem;
}

.AppButton-medium {
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 0;
}

.AppButton-small {
  padding: 0.5rem 1rem;
}

.Text {
  color: inherit;
  font: inherit;
  pointer-events: none;
  word-break: break-all;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
